<configuration scan="true">
	<property scope="local" name="app.context.name" value="student-report-processor" />
	<property scope="local" name="app.base.package.name" value="org.opentestsystem.delivery.studentreportprocessor" />
	<property scope="local" name="mna.appender.active" value="true" />
	<include resource="logback-included-common-config.xml" />
</configuration>