<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="DBDialect">MYSQL</entry>
	<entry key="TDSArchiveDBName">archive</entry>
    <entry key="TDSSessionDBName">session</entry>
    <entry key="TDSConfigsDBName">configs</entry>
    <entry key="ItembankDBName">itembank</entry>
    <entry key="AppName">StudentReportProcessor</entry>
    <entry key="jdbc.userName">${jdbc.userName}</entry> 
 	<entry key="jdbc.password">${jdbc.password}</entry> 
 	<entry key="jdbc.url">${jdbc.url}</entry> 
 	<entry key="jdbc.driver">com.mysql.jdbc.Driver</entry>
    <entry key="oauth.tis.client.id">${oauth.tis.client.id}</entry> 
    <entry key="oauth.tis.client.secret">${oauth.tis.client.secret}</entry> 
    <entry key="oauth.tis.username">${oauth.tis.username}</entry>
    <entry key="oauth.tis.password">${oauth.tis.password}</entry> 
    <entry key="oauth.access.url">${oauth.access.url}</entry>  
    <entry key="reportingDLL.tisUrl">${reportingDLL.tisUrl}</entry>
    <entry key="reportingDLL.tisStatusCallbackUrl">${reportingDLL.tisStatusCallbackUrl}</entry>
    <entry key="reportingDLL.tisWaitTime">300</entry>
    <entry key="reportingDLL.tisMaxWaitTime">86400</entry>
    <entry key="studentReportProcessor.emptyResultWaitTime">60</entry>
    <entry key="studentReportProcessor.exceptiontWaitTime">300</entry>
 	<entry key="TDSReportsRootDirectory">/usr/local/tomcat/resources/tds/tdsreports/</entry>
</properties>